<div class="container">

	<div class="form-signin">
		<h2 class="form-signin-heading">Login</h2>	
		
		
			
		<label for="inputUsername" class="sr-only">Usuario</label> <input
			type="text" id="inputUsername" ng-model="user.username" class="form-control"
			placeholder="Usuario" required autofocus> <label
			for="inputPassword" class="sr-only">Contraseña</label> <input
			type="password" id="inputPassword" ng-model="user.password" class="form-control"
			placeholder="Contraseña" required>
				
		<button class="btn btn-lg btn-primary btn-block" ng-click="login()">Ingresar</button>
		
		
	</div>
</div>