<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" ui-sref="estacionamiento.registrar-entrada">Estacionamiento</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a ui-sref="estacionamiento.registrar-entrada">Registrar Entrada</a></li>
		<li><a ui-sref="estacionamiento.registrar-salida">Registrar Salida</a></li>
		<li><a ui-sref="login">Cerrar Sesión</a></li>
	</ul>
</nav>

<!-- MAIN CONTENT -->
<div class="container">
	<div ui-view></div>
</div>