<div class="container">

	<div class="form-signin">


		<h2 class="form-signin-heading">Salida</h2>

		<div class="form-group">

			<label for="inputNroChapa">Número de Chapa</label> <input type="text"
				id="inputNroChapa" ng-model="registro.nroChapa" class="form-control"
				placeholder="Número de Chapa" required>

		</div>

		<button class="btn btn-lg btn-primary btn-block"
			ng-click="buscarEntrada()">Buscar</button>

		<div class="form-group">
			<label for="inputFechaIngreso">Fecha de ingreso</label> <input
				type="text" id="inputFechaIngreso" ng-model="registro.fechaIngreso"
				class="form-control" placeholder="Fecha de Ingreso" readonly>

		</div>
		<div class="form-group">

			<label for="inputFechaSalida">Fecha de Salida</label> <input
				type="text" id="inputFechaSalida" ng-model="registro.fechaSalida"
				class="form-control" placeholder="Fecha de Salida" readonly>

		</div>

		<div class="form-group">

			<label for="inputUbicacionLlave">Ubicación de la Llave</label> <input
				type="text" id="inputUbicacionLlave"
				ng-model="registro.ubicacionLlave" class="form-control"
				placeholder="Ubicación de la Llave" readonly>
		</div>
		<div class="form-group">

			<label for="inputHoras">Horas</label> <input type="text"
				id="inputHoras" ng-model="registro.horas" class="form-control"
				placeholder="Horas" readonly>
		</div>
		<div class="form-group">
			<label for="inputMonto">Monto</label> <input type="text"
				id="inputMonto" ng-model="registro.monto" class="form-control"
				placeholder="Monto" readonly>

		</div>

		<button class="btn btn-lg btn-primary btn-block"
			ng-click="registrarSalida()">Registrar Salida</button>
	</div>


	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Fecha Ingreso</th>
				<th>Fecha Salida</th>
				<th>Nro. Chapa</th>
				<th>Ubicacion Llave</th>
				<th>Horas</th>
				<th>Monto</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in registro.salidas">
				<td>{{ x.fechaIngreso | date : "dd/MM/yyyy HH:mm" }}</td>
				<td>{{ x.fechaSalida | date : "dd/MM/yyyy HH:mm" }}</td>
				<td>{{ x.nroChapa }}</td>
				<td>{{ x.ubicacionLlave }}</td>
				<td>{{ x.horas }}</td>
				<td>{{ x.monto }}</td>
			</tr>
		</tbody>

	</table>

</div>