<div class="container">

	<div class="form-signin">


		<h2 class="form-signin-heading">Entrada</h2>
		<div class="form-group">
			<label for="inputFechaIngreso">Fecha de ingreso</label>
			<input
				type="text" id="inputFechaIngreso" ng-model="registro.fechaIngreso"
				class="form-control" placeholder="Fecha de Ingreso" readonly>
		</div>

		<div class="form-group">
			<label for="inputNroChapa">Número de Chapa</label> <input
				type="text" id="inputNroChapa" ng-model="registro.nroChapa"
				class="form-control" placeholder="Número de Chapa" required
				autofocus>
		</div>
		<div class="form-group">
			<label for="inputUbicacionLlave">Ubicación de
				la Llave</label> <input type="text" id="inputUbicacionLlave"
				ng-model="registro.ubicacionLlave" class="form-control"
				placeholder="Ubicación de la Llave" required>
		</div>
		<button class="btn btn-lg btn-primary btn-block"
			ng-click="registrarEntrada()">Registrar Entrada</button>
	</div>
	
	<table class="table table-condensed">
  		<thead>
  			<tr>
		  		<th>Fecha Ingreso</th>
		  		<th>Nro. Chapa</th>
		  		<th>Ubicacion Llave</th>
	  		</tr>
  		</thead>
  		<tbody>
  			 <tr ng-repeat="x in registro.entradas">
		  		<td>{{ x.fechaIngreso | date :  "dd/MM/yyyy HH:mm" }}</td>
		  		<td>{{ x.nroChapa }}</td>
		  		<td>{{ x.ubicacionLlave }}</td>
	  		</tr>
  		</tbody>
  		
	</table>


</div>